version: "3.8"

services:

  data:
    container_name: sqlserver
    image: mcr.microsoft.com/mssql/server:2025-latest
    ports: 
        - "1433:1433"
    env_file:
      - Common.env
    environment:
      - ACCEPT_EULA=Y
    volumes: 
        - sqldata:/var/opt/mssql 
    networks: 
        - ecommerce_net

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    hostname: rabbitmq
    env_file:
      - Common.env
    environment:
      RABBITMQ_DEFAULT_USER: rabbitmqUser
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - ecommerce_net

  identity:
    build:
      context: ./ECommercePlatform
      dockerfile: IdentityService/Dockerfile
    ports:
      - "5001:80"
    env_file:
      - Common.env
    environment:
      - ConnectionStrings__IdentityDb=Server=sqlserver;Database=IdentityDb;Trusted_Connection=True;TrustServerCertificate=True
    restart: on-failure
    volumes:
      - data-protection:/root/.aspnet/DataProtection-Keys
    depends_on:
      - data
    networks:
      - ecommerce_net
    
  catalog:
    build:
      context: ./ECommercePlatform
      dockerfile: CatalogService/Dockerfile
    ports:
      - "5002:80"
    env_file:
      - Common.env
    environment:
      - ConnectionStrings__CatalogDb=Server=sqlserver;Database=CatalogDb;Trusted_Connection=True;TrustServerCertificate=True
      - MessageQueueSettings__Host=rabbitmq
      - MessageQueueSettings__UserName=rabbitmqUser
      - MessageQueueSettings__Password=${RABBITMQ_DEFAULT_PASS}
    restart: on-failure
    volumes:
      - data-protection:/root/.aspnet/DataProtection-Keys
    depends_on:
      - data
      - rabbitmq
    networks:
      - ecommerce_net

  inventory:
    build:
      context: ./ECommercePlatform
      dockerfile: InventoryService/Dockerfile
    ports:
      - "5003:80"
    env_file:
      - Common.env
    environment:
      - ConnectionStrings__InventoryDb=Server=sqlserver;Database=InventoryDb;Trusted_Connection=True;TrustServerCertificate=True
      - MessageQueueSettings__Host=rabbitmq
      - MessageQueueSettings__UserName=rabbitmqUser
      - MessageQueueSettings__Password=${RABBITMQ_DEFAULT_PASS}
    restart: on-failure
    volumes:
      - data-protection:/root/.aspnet/DataProtection-Keys
    depends_on:
      - data
      - rabbitmq
    networks:
      - ecommerce_net

  order:
    build:
      context: ./ECommercePlatform
      dockerfile: OrderService/Dockerfile
    ports:
      - "5004:80"
    env_file:
      - Common.env
    environment:
      - ConnectionStrings__OrderDb=Server=sqlserver;Database=OrderDb;Trusted_Connection=True;TrustServerCertificate=True
      - MessageQueueSettings__Host=rabbitmq
      - MessageQueueSettings__UserName=rabbitmqUser
      - MessageQueueSettings__Password=${RABBITMQ_DEFAULT_PASS}
    
    restart: on-failure
    volumes:
      - data-protection:/root/.aspnet/DataProtection-Keys
    depends_on:
      - data
      - rabbitmq
    networks:
      - ecommerce_net

  payment:
    build:
      context: ./ECommercePlatform
      dockerfile: PaymentService/Dockerfile
    ports:
      - "5005:80"
    env_file:
      - Common.env
    environment:
      - ConnectionStrings__PaymentDb=Server=sqlserver;Database=PaymentDb;Trusted_Connection=True;TrustServerCertificate=True
      - MessageQueueSettings__Host=rabbitmq
      - MessageQueueSettings__UserName=rabbitmqUser
      - MessageQueueSettings__Password=${RABBITMQ_DEFAULT_PASS}
    restart: on-failure
    volumes:
      - data-protection:/root/.aspnet/DataProtection-Keys
    depends_on:
      - data
      - rabbitmq
    networks:
      - ecommerce_net

networks:
  ecommerce_net:

volumes:
  rabbitmq_data:
  data-protection: